.medium-36 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  width: 100%;
  color: #091133;

}

.regular-16 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
  color:  #6F7CB2
  

  ;
}

.feature-image {
  max-width: 100%;
  height: auto;
}

.feature-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-left, .col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .col-left, .col-right {
    align-items: center;
    padding: 0;
  }
}
.h3 {
  color: #091133;

}