/* src/CSS/Header.css */
.header {
    font-family: 'Roboto', sans-serif; 
    width: 100%;
    height: 60px;
    background-color: white;
  }
  
  .buy-now-btn {
    background-color: #111B47;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  
  .h3-title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
    color: #37447E;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #505F98;
  }
  